// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/mainbg.jpg");
  background-size: cover;
  height: 325px;
}


.Header-text {
	height: 155px;
	width: 350px;
	background-color: rgba(0,0,0,0.6);
	float: right;
	padding: 5px 20px;
	border: 2px solid white;
	margin-top: 80px;
	border-radius: 15px;
	
	p {
		color: white;
		text-align: center;
		font-size: 18px;
		line-height: 12px;
	}
	
	a {	
		color: white;
		margin-left: auto;
		margin-right: auto;
		display: block;
		background-color: rgba(255, 0, 0, 0.6);
		padding: 7px 14px;
		border-radius: 10px;
		width: 205px;
		font-weight: 600;
		font-size: 19px;
		border: 1px solid white;
		text-align: center;
		
		&:hover {
			text-decoration: none;
			opacity: 0.8;
		}
	}
}


@media all and (max-width: 400px) {
	.Header-text {
		width: 100%;
		height: auto;
		line-height: 25px;
		padding: 10px;
		p {
			line-height: 30px !important;
			margin: 0;
		}	
		a {
			font-size: 16px;
			margin: 10px auto;
		}
	}
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}


