// *************************************
//
// Nav-Toggle
// -> Nav-toggle
//
// *************************************

.Navigation-menuToggle  {
  display: block;
  @media all and (min-width: 980px) {
    display: none;
  }
}

.Navigation-menuToggle {
	background-color: white;
	cursor: pointer;
    width: 60px;
    height: 60px;
	margin: 0 auto;
	fill: #9A9A9A;
	
	&:hover {
		background-color: #fafafa;
		fill: black;
	}
}


#js-navCollapseTarget {
  @media all and (max-width: 980px) {
    display: none;
  }
}

@media all and (min-width: 980px) {	
	#js-navCollapse {
		display: none;
	}
}
@media all and (max-width: 980px) {	
	#js-navCollapse {
		display: block;
	    padding: 15px;
		font-size: 18px;
		font-weight: 600;
		color: black;

	}
} 