// *************************************
//
// Nav-Toggle
// -> Nav-toggle
//
// *************************************

.Navigation-menuToggle  {
  display: block;
  @media all and (min-width: 980px) {
    display: none;
  }
}

.Navigation-menuToggle {
	background-color: white;
	cursor: pointer;
	float: left;
    width: 60px;
    height: 60px;
    margin-left: 6%;
    border-radius: 7px;
    border: 1px solid black;
	
	&:hover {
		background-color: #fafafa;
	}
}


#js-navCollapseTarget {
  @media all and (max-width: 980px) {
    display: none;
  }
}
