// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
	position: relative;
	text-align: center;
	background-color: white;
	padding: 10px 0;
	z-index: 100;	  
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  text-decoration: underline;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: inline;
  margin: 0 rem(15px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
	padding: 20px 18px ;
	color: black;
	font-size: 17px;
	border-radius: 0 0 10px 10px; 	
	font-weight: 600;
}

.Navigation-link.is-active {
	text-decoration: none; 
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
} 

.Icon--inline {
	font-size: 30px;
}

.Navigation-listItem--hasDropdown {
	position: relative;
	text-decoration: none;
}
 
.Navigation-list--dropdown {
	display: block;
	height: auto;
    position: absolute;
	background-color: #ccc;
	border: 7px solid white;
	border-top: 0px solid white;
	width: auto;
    line-height: 40px;
    top: 42px;
    left: 0;
    z-index: 110;
	
	
	.Navigation-listItem {
		display: block;
		padding: 0 2px;
		width: 205px;
				
		a {
			background-color: transparent;
		}
	}	
}

//------------ Important! -------------//
//        Dropdown display hide        //

.Navigation-list.is-hidden {
	display: none;
}

//-------------------------------------//



.Nav-logo {
	position: absolute;
	z-index: 110;
}

//======================================================================
//                     @media queries - responsiveness
//======================================================================
@media all and (min-width: 980px) {	
	#js-navCollapse {
		display: none;
	}
}
@media all and (max-width: 980px) {	
	#js-navCollapse {
		display: block;
	}

/*
	.Navigation-link {
		display: block;
		background-color: white;
		text-decoration: none;
		border: 4px solid white;
		color: $c-blue;
		padding: 12px;
		font-size: 17px;
		border-radius: 16px;
		margin: 0 20px;
				
		&:hover {
			border: 4px solid white;			
			background-color: transparent;
			color: white;
		}	
	}	
*/
}